/* You can add global styles to this file, and also import other style files */

/* https://cssgradient.io/gradient-backgrounds/ */
body, header{
     background-image: url(../src/assets/img/background_image.jpg);
     background-position:center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

a{
    color: white;
}
